

  p {
    background-color: lightblue;
    /* background-image: url("images\\logo2.png"); */
    background-repeat: no-repeat;
    margin-right: 200px;
    background-attachment: fixed;
    background-position:right top;
  }
