{% extends "baseIn.html" %} {% block title %}Home{% endblock %}

{% block content %}

<br>
<br>

<style>
    body {
     background-color: rgb(255, 255, 190);
    }

    p{     border: 15px solid green;}
 </style>

{% if finish == "False" : %}
<p id="questionArea"></p>
{% else : %}
<p> YOUR QUESTIONS ARE DONE</p>
{% endif %}

<script>
var htmlBlock=  '<fieldset>'+
                '<legend>{{theMatch}}</legend>'+
                ' <form method="POST">'+
                '<input type="radio" id="option" name="option" value="{{ans[0]}}" checked>'+
                    '<label for="option1">{{ans[0]}}</label><br>'+
                    '<input type="radio" id="option" name="option" value="{{ans[1]}}">'+
                    '<label for="option2">{{ans[1]}}</label><br>'+
                    '<input type="radio" id="option" name="option" value="{{ans[2]}}">'+
                    '<label for="option3">{{ans[2]}}</label><br>'+
                    '<input type="radio" id="option" name="option" value="{{ans[3]}}">'+
                    '<label for="option4">{{ans[3]}}</label><br>'+
                    '<button >ANSWER</button>'+
                    '</form>';

document.getElementById("questionArea").innerHTML = htmlBlock;
</script>

{% endblock %}


