{% extends "baseIn.html" %} {% block title %}General Statistics{% endblock %}

{% block content %}

<style>
  body{

     background-color: rgb(244, 225, 201);

  }

  h1 {

font-size: 45px;
font-family: "Lucida Console";

text-align: center;
text-transform: uppercase;
color: bisque;
text-shadow: 7px 5px 5px red;
}
</style>

<h1>General Statistics</h1>


<script>
  const statisticsArr=[]
  const values=[]
</script>

{% for x in range(DATALEN) %}
<script>
  var data= '{{DATA[x][0]}}';
  var data2= '{{DATA[x][1]}}';

  statisticsArr.push(data)
  values.push(data2)
</script>

{% endfor %}

<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>


<canvas id="statisticsChart" style="width:100%;max-width:600px"></canvas>

<script>
var barColors = [
  "#b91d47",
  "#00aba9",
  "#2b5797",
  "#e8c3b9",
  "#1e7145"
];

new Chart("statisticsChart", {
  type: "doughnut",
  data: {
    labels: statisticsArr,
    datasets: [{
      backgroundColor: barColors,
      data: values
    }]
  },
  options: {
    title: {
      display: true,
      text: "Rate of Users by Category"
    }
  }
});
</script>




<style>
  .btn-group .button {
    background-color: #db98a0;
    border: 2px solid white;
    color: bisque;
    padding: 5px 20px;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace,Tahoma, Verdana, sans-serif; /* fallback fonts (font safety) */
    font-weight: bold;
    font-size: 16px;
    float: left;
  }
  
  .btn-group .button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }


  .btn-group .button:hover {
    background-color: red;
  }
  </style>




<script>
  const categoryArr=[]
  const categoryTrueValues=[]
  const categoryFalseValues=[]
</script>

{% for x in range(CTGRYLEN) %}
<script>
  var data= '{{CTGRY[x][0]}}';
  var data2= '{{CTGRY[x][1]}}';
  var data3= '{{CTGRY[x][2]}}';
  categoryArr.push(data)
  categoryFalseValues.push(data2)
  categoryTrueValues.push(data3)
</script>
{% endfor %}


<div id="CategoryChartDiv" >

  <br><br><br>
  <div class="btn-group">
  {% for x in range(CTGRYLEN) %}
  <button class="button" id="button" onclick="showStatistics(this.value)" value="{{x}}">{{CTGRY[x][0]}}</button> 
  {% endfor %} 
  </div> 

<br><br>

<canvas id="CategoryStatisticsChart" style="width:100%;max-width:600px"></canvas>
</div>

<script>
function showStatistics(objButton){


  trueData=categoryTrueValues[objButton];
  falseData=categoryFalseValues[objButton];  


  var barColors = [
          "#00aba9",
          "#b91d47",

        ];

  new Chart("CategoryStatisticsChart", {
    type: "pie",
    data: {
      labels: ["TRUE","FALSE"],
      datasets: [{
        backgroundColor: barColors,
        data: [trueData,falseData]
      }]
    },
    options: {
      title: {
        display: true,
        text: "Response Rates by Category"
      }
    }
  });

      }
 
      


</script>


{% endblock %}