{% extends "baseIn.html" %} {% block title %}Home{% endblock %}

{% block content %}



<style>
    body {
     background-color: rgb(121, 175, 158);
    }

    h1 {

        font-size: 45px;
        font-family: "Lucida Console";

        text-align: center;
        text-transform: uppercase;
        color: bisque;
        text-shadow: 7px 5px 5px red;
    }

    p.double{

        font-family: "Lucida Console", "Courier New", monospace,Tahoma, Verdana, sans-serif; /* fallback fonts (font safety) */
        font-weight: bold;

        background-color: bisque;

        border-style:double;
        border-width: 6px;
        border-left: 6px solid red;
        border-radius: 12px;
        padding: 5px;
    }

    .askButton{
        font-family: "Lucida Console", "Courier New", monospace,Tahoma, Verdana, sans-serif; /* fallback fonts (font safety) */
        font-weight: bold;
        background-color: bisque;
        border: double;
        border-color: red;
        border-radius: 12px;
        padding: 10px;
        text-align: center;
        font-size: 16px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .askButton:hover {
        background-color: red;
    }
    

 </style>

<h1>The Questioner</h1><br>

<p class="double">
    Name: {{name}} <br>
    Surname: {{surname}} <br>
    Score: {{score[4]}} /  {{score[3]}}
</p>


<br>
<form  action="/askedQuestion">
    <input class="askButton" type="submit" value="ASK ME">
</form>
<br><br><br>

<!-- <form  action="/">
    <input class="logOutButton" type="submit" value="Logout">
</form> -->


{% endblock %}