{% extends "base.html" %} {% block title %}Login{% endblock %}

{% block content %}

<style>
   body {
    background-color: lightblue;
   }

   h1 {
    font-size: 45px;
    font-family: "Lucida Console";

    text-align: center;
    text-transform: uppercase;
    color: rgb(61, 7, 82);
    text-shadow: 7px 5px 5px red;
    }

   .form-group{
    font-family: "Lucida Console", "Courier New", monospace,Tahoma, Verdana, sans-serif; /* fallback fonts (font safety) */
    font-weight: bold;
    background-color: rgb(61, 7, 82);
    color: rgb(151, 193, 229);
    border-style:double;
    border-width: 6px;
    border-left: 6px solid  ;
    border-radius: 12px;
    padding: 7px;
    margin-top: 30px;
   }

   .btnLogin{
        font-family: "Lucida Console", "Courier New", monospace,Tahoma, Verdana, sans-serif; /* fallback fonts (font safety) */
        font-weight: bold ;
        background-color: bisque;
        border-style: double;
        border-color:rgb(61, 7, 82);
        border-style:double;
        border-width: 6px;
        border-left: 6px solid  ;
        border-radius: 12px;
        padding: 7px;
        text-align: center;
        font-size: 16px;       
    }    
    .btnLogin:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }

    img{
      max-width: 100%;
      height: auto;     
    }

</style>

<h3 style="color: bisque;text-shadow: 7px 5px 5px red;">WELCOME TO </h3>
<h1>THE QUESTIONER</h1>

<form method="POST">
    
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          name="firstName"
          placeholder="Enter first name"
        />
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          name="lastName"
          placeholder="Enter last name"
        />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Enter password"
        />
      </div>

    <br />
    <button type="submit" class="btnLogin" style="color:  rgb(61, 7, 82);">Login</button>
  </form>




{% endblock %}
