{% extends "baseIn.html" %} {% block title %}Home{% endblock %}

{% block content %}

<style>
    body {
     background-color: rgb(57, 130, 107);
    }
 </style>
 
<h1>Statistics</h1>

<h3>Category : {{score[1]}}</h3>
<h3>Number of questions answered: {{score[2]}}</h3>
<h3>Score    : {{score[0]}}</h3>

{% for x in range(subScore_len) %}
<h6>-------------------------- ({{subScore[x][3]}})</h6> 
<h6>(Train)category: {{subScore[x][0]}}</h6>
<h6>Number of questions answered: {{subScore[x][1]}}</h6>
<h6>Score : {{subScore[x][2]}}</h6>
{% endfor %}


{% endblock %}