{% extends "baseIn.html" %} {% block title %}Home{% endblock %}

{% block content %}

<style>
    body {
     background-color: rgb(57, 130, 107);
    }
 </style>
 
<h1>Statistics</h1>

<h3>Category : {{score[1]}}</h3>
<h3>Number of questions answered: {{score[2]}}</h3>
<h3>Score    : {{score[0]}}</h3>

{% for x in range(subScore_len) %}
<h4>--------------------------</h4>
<h6>category: {{subScore[x][0]}}</h6>
<h6>score   : {{subScore[x][1]}}</h6>
{% endfor %}
<h4>--------------------------</h4>


{% endblock %}