{% extends "baseIn.html" %} {% block title %}Usernames{% endblock %}

{% block content %}

<style>
    body {
        background-color: rgb(121, 175, 158);
    }
    th,tr.x,td.y{

        border-style: outset;
        background: rgb(144, 217, 235);
    }
    tr.e,td.z{

        border-style: outset;
        background:bisque;
        text-align: center;
    }

    .basicTitle{
        color: black;
        font-family: "Lucida Console", "Courier New", monospace,Tahoma, Verdana, sans-serif; /* fallback fonts (font safety) */
        font-weight: bold;
        text-shadow: 7px 5px 5px bisque;
    }
 </style>

<h1 class="basicTitle">Usernames</h1>

<table>
    <tr class="x">
        <th></th>
        <th>Firstname</th>
        <th>Lastname</th>
    </tr>
    {% for x in range(user_names_len) %}
    <tr class="e">
        <td class="y">{{x+1}}</td>
        <td class="z">{{user_names[x]}}</td>
        <td class="z">{{user_last_names[x]}}</td>
    </tr>
    {% endfor %}

</table>
{% endblock %}

